build:ci --verbose_failures --show_timestamps --announce_rc
build:ci --noshow_progress --noshow_loading_progress --color=yes
build:ci --define image.tag=ci

test:ci --keep_going
# Only show failing test targets to avoid scrolling past a long list of
# successful tests in order to see error logs.
test:ci --test_summary=terse
